name: Run Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Run rsync-antora-reference BATS tests
        run: ./rsync-antora-reference/test/bats/bin/bats ./rsync-antora-reference/test/
      - name: Run rsync-schema BATS tests
        run: ./rsync-schema/test/bats/bin/bats ./rsync-schema/test/
